<head>
    <style>
        .int-button {
            border: 1px solid #000066;
            border-radius: 5px;
            background-color: white;
            color: #000066;
            height: 33px;
        }

            .int-button:hover {
                background-color: #8080ff;
                color: white;
                height: 33px;
            }
    </style>
</head>


<body>

    <h3>New actor</h3> <br />

    <form method="post" action="/Actor/New">

        <label>Name</label><br />
        <input type="text" style="width: 600px;" name="Name" />
        <br /><br />

        <label> Description </label><br />
        <textarea style="width: 600px;" rows="5" name="Description"></textarea>
        <br /><br />


        <label> Image link: </label><br />
        <input type="text" style="width: 600px;" name="Image" />
        <br /><br />

        <label> Birth date: </label>
        <input type="date" name="BirthDate" />
        <br /><br />

        <div style="padding-left:206px;">
            <button class="int-button" type="submit">Add actor</button>
        </div>
    </form>

</body>
