<head>
    <style>
        .image {
            height: 80px;
        }

        .int-button {
            border: 1px solid #000066;
            border-radius: 5px;
            background-color: white;
            color: #000066;
            height: 33px;
        }

            .int-button:hover {
                background-color: #8080ff;
                color: white;
                height: 33px;
            }

        .delete-button {
            border: 1px solid darkred;
            border-radius: 5px;
            background-color: white;
            color: darkred;
        }

            .delete-button:hover {
                background-color: indianred;
                color: ghostwhite;
            }

        .a {
            color: dimgrey;
            font-weight: bold;
        }

        .title-div {
            border-bottom: 1px solid darkgrey;
        }

        .split_left {
            height: 100%;
            width: 13%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 40px;
            left: 0px;
            align-items: center;
            border-right: 1px solid darkgrey;
        }

        .split_right {
            height: 100%;
            width: 85%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 40px;
            right: 0;
        }
    </style>

    <script>


    </script>
</head>

<body>

    <h3>Users:</h3> <br />

    @foreach (var user in ViewBag.Users)
    {
        <div class="card">
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title"> <b> @user.UserName</b> </h5>

                    <p class="card-text">Email: @user.Email</p>
                    @if (@user.PhoneNumber != null)
                    {
                        <p class="card-text">PhoneNumber: @user.PhoneNumber </p>
                    }
                </div>
            </div>

            <div class="col-md-4">
                <br />
                <a role="button" class="btn int-button" style="height:30px; width:80px;" href="/User/edit/@user.Id">Edit user</a>
                <a role="button" class="btn delete-button" style="height:30px; width:100px;" href="/User/Delete/@user.Id">Delete user</a>
            </div>

        </div>
        <br /><br /><br /><br />
    }

</body>
